<h1>Tasks</h1>

<p>List of tasks</p>

<p *ngIf="!tasks"><em>Loading...</em></p>


<table class='table' *ngIf="tasks">
    <thead>
        <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Deadline</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ tasks.Status }}</td>
            <td>{{ tasks.Title }}</td>
            <td>{{ tasks.Description }}</td>
            <td>{{ tasks.Priority }}</td>
            <td>{{ tasks.Deadline }}</td>

        </tr>
    </tbody>
</table>
