<h1>Tasks</h1>

<p>List of tasks</p>

<p *ngIf="!tasks"><em>Loading...</em></p>


<table class='table' *ngIf="tasks">
    <thead>
    <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Deadline</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
        <td>{{ task.status }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.deadline }}</td>

    </tr>
    </tbody>
</table>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><button role="menuitem" (click)="chooseStatus()">Pierwsza opcja</button></li>
        <li role="presentation"><button role="menuitem" (click)="chooseStatus()">Pierwsza opcja</button></li>
        <li role="presentation"><button role="menuitem" (click)="chooseStatus()">Pierwsza opcja</button></li>
    </ul>
</div>
